div{
	border: 2px solid #4D0084;
	background-color: #65FEFE;
	position: absolute;
	width: 90px;
	height: 90px;
}

#d1{
	left: 110px;
}

.d2{
	left: 210px;
}

#d2{
	left: 310px;
}

.d3{
	left: 410px;
}